<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/mainmob.css">

  <title>CV-Arthur-Bauzou</title>
</head>

<body>
  <main>

    <!-- IDENTITE -->
    <section>
      <div class="idblock">
        <img src="images/photo_arthur.jpg" alt="">
        <h1>Arthur <br> BAUZOU</h1>
        
        <ul class="contact">
          <li>
            <i class="fa-solid fa-house"></i>
            <p>Aix-en-Provence</p>
          </li>
          <li>
            <i class="fa-solid fa-phone"></i>
            <p>066 066 75 61</p>
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i>
            <p>arthurbauzou@gmail.com</p>
          </li>
          <li>
            <i class="fa-brands fa-github"></i>
            <a href="https://github.com/ArthurBauzou">github.com/ArthurBauzou</a>
          </li>
        </ul>
      </div>

      <h2 class="profession">Développeur Web</h2>
      
    </section>

    <!-- COMPETENCES -->
    <section class="compblock">
      <h2>Compétences</h2>

      <div  class="mobhide">
        <h4>Langages Informatiques</h4>
        <ul>
          <li>
            <span>Javascript</span>
            <div class="compscore">
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
            </div>
          </li>
          <li>
            <span>Python</span>
            <div class="compscore">
              <i class="fa-solid fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
            </div>
          </li>
          <li>
            <span>COBOL</span>
            <div class="compscore">
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
            </div>
          </li>
        </ul>
      </div>

      <div class="mobhide">
        <h4>Technologies</h4>
        <ul>
          <li>
            <span>Angular</span>
            <div class="compscore">
              <i class="fa-solid fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
            </div>
          </li>
          <li>
            <span>Nodejs / Express</span>
            <div class="compscore">
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
            </div>
          </li>
          <li>
            <span>Ionic</span>
            <div class="compscore">
              <i class="fa-solid fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
            </div>
          </li>
        </ul>
      </div>

      <div class="mobhide">
        <h4>Langues</h4>
        <ul>
          <li>
            <span>Français</span>
            <div class="compscore">
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
            </div>
          </li>
          <li>
            <span>Anglais</span>
            <div class="compscore">
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-solid fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
            </div>
          </li>
          <li>
            <span>Allemand</span>
            <div class="compscore">
              <i class="fa-solid fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
              <i class="fa-regular fa-circle"></i>
            </div>
          </li>
        </ul>
      </div>

      <div class="mobhide">
        <h4>Autres</h4>
        <ul>
          <li>Expérience Utilisateur</li>
          <li>Illustration</li>
          <li>Conception Ludique</li>
        </ul>
      </div>

    </section>

    <!-- EXPERIENCES -->
    <section class="mainblock">
      <h2>Expérience</h2>

      <div class="mobhide">
        <p class="date">2020</p>
        <div class="etiquette">
          <h3>Ingénieur de maintenace Grands Systèmes</h3>
          <span>BPCE</span>
          <span>Aix-en-Provence</span>
          <span class="duree" hidden>9 mois</span>
          <ul class="details" hidden>
            <li>Département des épargnes et assurances en titres</li>
            <li>Maintenance applicative quotidienne</li>
            <li>Correctifs en COBOL / PACBASE</li>
            <li>Gestion des incidents client</li>
          </ul>
        </div>
      </div>

      <div class="mobhide">
        <p class="date">2019</p>
        <div class="etiquette">
          <h3>Ingénieur d’études et développement Mainframe</h3>
          <span>SOPRA STERIA</span>
          <span>Lyon</span>
          <span class="duree" hidden>1 an</span>
          <ul class="details" hidden>
            <li>Centre de service pour le Crédit Agricole</li>
            <li>Au sein d’une équipe de développement d’une solution de cash management</li>
            <li>Développement en COBOL / PACBASE</li>
            <li>Tests unitaires ; Recettes</li>
          </ul>
        </div>
      </div>

      <div class="mobhide">
        <p class="date">2017</p>
        <div class="etiquette">
          <h3>Développeur front-end stagiaire</h3>
          <span>GENII</span>
          <span>Paris</span>
          <span class="duree" hidden>4 mois</span>
          <ul class="details" hidden>
            <li>Stage de 3 mois : réalisation d’un site de partage de photo d’art urbain</li>
            <li>Intégration responsive du design</li>
            <li>Création des formulaires avec scripts de contrôle</li>
            <li>Back-end : Symphony</li>
          </ul>
        </div>
      </div>

      <div class="mobhide">
        <p class="date">2012</p>
        <div class="etiquette">
          <h3>Photographe Produit et Graphiste Web</h3>
          <span>Gandy Maroquinerie</span>
          <span>Grenoble</span>
          <span class="duree" hidden>1 an et demi</span>
          <ul class="details" hidden>
            <li>Mise en valeur de produits de maroquinerie par la photo</li>
            <li>Tri et développement virtuel avec Lightroom</li>
            <li>Retouche, optimisation et référencement des images avec Photoshop</li>
          </ul>
        </div>
      </div>

    </section>

    <!-- FORMATION -->
    <section class="mainblock">
      <h2>Formation</h2>

      <div class="mobhide">
        <p class="date">2022</p>
        <div class="etiquette">
          <h3 class="forma-poste">Formation Angular & Nodejs</h3>
          <span class="forma-master">Softeam</span>
          <ul class="details" hidden>
            <li>MEAN Stack : MongoDB, Express, Angular, Nodejs</li>
            <li>Méthode Agile</li>
            <li>Développement mobile avec IONIC</li>
            <li>Projets d’applications [à completer]</li>
          </ul>
        </div>
      </div>

      <div class="mobhide">
        <p class="date">2017</p>
        <div class="etiquette">
          <h3 class="forma-poste">Formation Préqualifiante Développeur Web</h3>
          <span class="forma-master">AJC Formation</span>
          <ul class="details" hidden>
            <li>Reconcersion professionnelle en informatique</li>
            <li>Bases web : HTML, CSS, Bootstrap, Javascript, SQL</li>
            <li>Conception de bases relationelles avec Merise</li>
          </ul>
        </div>
      </div>

      <div class="mobhide">
        <p class="date">2010</p>
        <div class="etiquette">
          <h3>Master 1 d’architecture</h3>
          <span>École d’Architecture de Grenoble</span>
          <ul class="details" hidden>
            <li>Mémoire de master : « La place du stationnement dans l’architecture »</li>
            <li>PAO : Conception de planches en 2D avec Photoshop</li>
            <li>CAO : Conception de bâtiments en 3D avec Sketchup et Archicad</li>
          </ul>
        </div>
      </div>

    </section>

    <section class="mainblock mobonly">
      <h2 >Contact</h2>
      <div class="mobcontact mobhide">        
        <ul>
          <li>
            <i class="fa-solid fa-house"></i>
            <p>Aix-en-Provence</p>
          </li>
          <li>
            <i class="fa-solid fa-phone"></i>
            <p>066 066 75 61</p>
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i>
            <p>arthurbauzou@gmail.com</p>
          </li>
          <li>
            <i class="fa-brands fa-github"></i>
            <a href="https://github.com/ArthurBauzou">github.com/ArthurBauzou</a>
          </li>
        </ul>
      </div>
    </section>

  </main>
</body>

<script type="text/javascript" src="javascripts/monscript.js"></script>

</html>