body {
  font: 14px "Poppins", sans-serif;
}


#maintitle {
  width: 100%;
  background: #5a6047;
  color: rgb(255, 255, 255);
  padding: 12px 32px;
  font-size: 64px;
  font-weight: 600;
  margin: 0 auto;
}
.imglol {
  position:absolute;
  right:0px;
  top:48px;
  padding-right:32px;
}
.bounce {
  position:fixed;
  width: 128px;
  animation:bounce 30s linear infinite;
}

@keyframes bounce {
  0%  {
    top: 50%;
    right: 00%;
  }
  25% {
    top: 00%;
    right: 50%;
  }
  50% {
    top:50%;
    right: 100%;
  }
  75% {
    top:100%;
    right: 50%;
  }
  100% {
    top:50%;
    right: 00%;
  }
}